@use '../../../styles/mixins' as mix;

.header {
  display: none; // Hidden on mobile
  width: 100%;

  // Tablet - 768px+
  @include mix.tablet {
    display: block;
  }

  &__content {
    @include mix.flex(row, space-between, center);
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: var(--space-4);
  }
}
