@use '../../../styles/mixins' as mix;

.header {
  display: none; // Hidden on mobile
  width: 100%;
  padding: var(--space-6);

  // Tablet - 768px+
  @include mix.tablet {
    display: block;
  }

  &__content {
    @include mix.flex(row, center, space-between);
    max-width: 1400px;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
  }

  &__popup-signup {
    display: flex;
  }
}
