@use '../../../../styles/mixins' as mix;

.add-member-btn {
  @include mix.flex(row, center, center);
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;

  &:hover,
  &:active {
    background-color: #eceefe;
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: block;
    object-fit: contain;
    transition: filter 0.2s;

    .add-member-btn:hover &,
    .add-member-btn:active & {
      filter: brightness(0) saturate(100%) invert(35%) sepia(89%) saturate(2315%) hue-rotate(228deg)
        brightness(98%) contrast(92%);
    }
  }
}
