@use 'mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-base), color var(--transition-base);
}

section {
  padding-block: var(--space-8);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}
