<div class="signin">
  <div class="signin__container">
    <header class="signin__header">
      <h1 class="signin__title">{{ 'AUTH.WELCOME_BACK' | t }}</h1>
      <p class="signin__subtitle">{{ 'AUTH.SIGNIN_SUBTITLE' | t }}</p>
    </header>

    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="signin__form">
      <app-input-field
        [control]="$any(signinForm.controls['email'])"
        id="email"
        type="email"
        [placeholder]="'AUTH.EMAIL_EXAMPLE_PLACEHOLDER' | t"
        icon="/img/formfield/mail-default.svg"
        [errorMessages]="emailErrors()"
      />

      <app-input-field
        [control]="$any(signinForm.controls['password'])"
        id="password"
        [type]="hidePassword() ? 'password' : 'text'"
        [placeholder]="'AUTH.PASSWORD_PLACEHOLDER' | t"
        icon="/img/formfield/lock-default.svg"
        [errorMessages]="passwordErrors()"
      />

      <div class="signin__forgot">
        <a (click)="navigateToPasswordForgot()" class="signin__link">
          {{ 'AUTH.FORGOT_PASSWORD' | t }}
        </a>
      </div>

      <div class="signin__divider">
        <span>{{ 'AUTH.OR' | t }}</span>
      </div>

      <button
        type="button"
        class="signin__google-btn"
        (click)="onGoogleLogin()"
        [disabled]="isSubmitting()"
      >
        <img src="/img/logos/Google.svg" alt="Google" class="signin__google-icon" />
        <span>{{ 'AUTH.SIGN_IN_GOOGLE' | t }}</span>
      </button>

      <div class="signin__button-wrapper">
        <app-primary-button
          type="submit"
          [label]="'AUTH.LOGIN' | t"
          [disabled]="signinForm.invalid || isSubmitting()"
          [loading]="isSubmitting()"
        />

        <app-guest-button
          type="button"
          [label]="'AUTH.GUEST_LOGIN' | t"
          [disabled]="isSubmitting()"
          [loading]="false"
          (clicked)="onGuestLogin()"
        />
      </div>
    </form>
  </div>
</div>
