<div class="password-forgot">
  <div class="password-forgot__container">
    <header class="password-forgot__header">
      <div class="password-forgot__back">
        <app-back-button (clicked)="goBack()" />
      </div>
      <h1 class="password-forgot__title">{{ 'AUTH.RESET_PASSWORD' | t }}</h1>
      <p class="password-forgot__subtitle">{{ 'AUTH.PASSWORD_FORGOT_SUBTITLE' | t }}</p>
    </header>

    @if (!emailSent()) {
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="password-forgot__form">
        <app-input-field
          [control]="$any(forgotForm.controls['email'])"
          id="email"
          type="email"
          [placeholder]="'AUTH.EMAIL_EXAMPLE_PLACEHOLDER' | t"
          icon="/img/formfield/mail-default.svg"
          [errorMessages]="emailErrors()"
        />

        <div class="password-forgot__button-wrapper">
          <app-primary-button
            type="submit"
            [label]="'AUTH.SEND_EMAIL' | t"
            [disabled]="forgotForm.invalid || isSubmitting()"
            [loading]="isSubmitting()"
          />
        </div>
      </form>
    } @else {
      <div class="password-forgot__success">
        <p class="password-forgot__success-text">{{ 'NOTIFICATIONS.VERIFY_EMAIL_RESENT' | t }}</p>
        <app-primary-button [label]="'AUTH.BACK_TO_SIGNIN' | t" (clicked)="goBack()" />
      </div>
    }
  </div>
</div>
