<div class="signup">
  <div class="signup__container">
    <header class="signup__header">
      <div class="signup__back">
        <app-back-button (clicked)="goBack()" />
      </div>
      <h1 class="signup__title">{{ 'AUTH.CREATE_ACCOUNT' | t }}</h1>
      <p class="signup__subtitle">{{ 'AUTH.SIGNUP_SUBTITLE' | t }}</p>
    </header>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup__form">
      <app-input-field
        [control]="$any(signupForm.controls['name'])"
        id="name"
        type="text"
        [placeholder]="'AUTH.NAME_PLACEHOLDER' | t"
        icon="/img/formfield/person-default.svg"
        [errorMessages]="nameErrors()"
      />

      <app-input-field
        [control]="$any(signupForm.controls['email'])"
        id="email"
        type="email"
        [placeholder]="'AUTH.EMAIL_EXAMPLE_PLACEHOLDER' | t"
        icon="/img/formfield/mail-default.svg"
        [errorMessages]="emailErrors()"
      />

      <app-input-field
        [control]="$any(signupForm.controls['password'])"
        id="password"
        type="password"
        [placeholder]="'AUTH.AT_LEAST_CHARS' | t"
        icon="/img/formfield/lock-default.svg"
        [errorMessages]="passwordErrors()"
      />

      <app-checkbox-field
        [control]="$any(signupForm.controls['privacy'])"
        id="privacy"
        [errorMessages]="privacyErrors()"
      >
        <span class="signup__checkbox-text">{{ 'AUTH.PRIVACY_PREFIX' | t }}</span>
        <button type="button" class="signup__link" [routerLink]="'/privacy-policy'">
          {{ 'AUTH.PRIVACY_LINK' | t }}
        </button>
        <span>{{ 'AUTH.PRIVACY_SUFFIX' | t }}</span>
      </app-checkbox-field>

      <div class="signup__button-wrapper">
        <app-primary-button
          type="submit"
          [label]="'AUTH.CONTINUE' | t"
          [disabled]="signupForm.invalid || isSubmitting()"
          [loading]="isSubmitting()"
        />
      </div>
    </form>
  </div>
</div>
