@use '../../../styles/mixins' as mix;

.auth-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: var(--background-color);

  &__content {
    @include mix.flex-center;
    flex: 1;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: var(--space-2);
  }
}
