@use '../../../styles/mixins' as mix;

.auth-layout {
  @include mix.flex-column-center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);

  &__content {
    @include mix.flex-center;
    flex: 1;
    width: 100%;
    padding: var(--space-4);
  }
}
