@use '../../../styles/mixins' as mix;

.footer {
  width: 100%;

  &__content {
    @include mix.flex-column-center;
    padding: var(--space-6) var(--space-4);
    gap: var(--space-4);
    max-width: 1400px;
    margin: 0 auto;
  }

  &__popup-signup {
    // Visible on mobile, hidden on desktop
    display: block;

    // Tablet - 768px+
    @include mix.tablet {
      display: none;
    }
  }

  &__legal {
    display: block;
  }
}
