@use '../../../styles/mixins' as mix;

.footer {
  &__content {
    @include mix.flex-column-center;
    padding: var(--space-6) var(--space-2);
    gap: var(--space-4);
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  &__popup-signup {
    // Visible on mobile, hidden on desktop
    display: block;
    @include mix.tablet {
      display: none;
    }
  }

  &__legal {
    display: block;
  }
}
