<button
  class="workspace-menu-toggle"
  (click)="sidebarService.toggle()"
  [class.workspace-menu-toggle--hidden]="sidebarService.isHidden()"
  [attr.aria-label]="sidebarService.isVisible() ? 'Close workspace menu' : 'Open workspace menu'"
>
  <img
    [src]="
      sidebarService.isVisible()
        ? '/img/icon/hide-navigation-default.svg'
        : '/img/icon/show-navigation-default.svg'
    "
    alt=""
    class="workspace-menu-toggle__icon workspace-menu-toggle__icon--default"
  />
  <img
    [src]="
      sidebarService.isVisible()
        ? '/img/icon/hide-navigation-hover.svg'
        : '/img/icon/show-navigation-hover.svg'
    "
    alt=""
    class="workspace-menu-toggle__icon workspace-menu-toggle__icon--hover"
  />
  <span class="workspace-menu-toggle__text">
    {{ sidebarService.isVisible() ? 'Close workspace menu' : 'Open workspace menu' }}
  </span>
</button>
