<div class="new-message">
  <div class="new-message__header">
    <h1 class="new-message__title">New message</h1>
  </div>

  <div class="new-message__search">
    <div class="new-message__search-wrapper">
      <!-- <img src="/img/icon/search-default.svg" alt="Search" class="new-message__search-icon" /> -->
      <input
        type="text"
        class="new-message__search-input"
        placeholder="An: #channel, oder @someone or E-Mail adress"
        [(ngModel)]="searchQuery"
        (input)="onSearch()"
      />
    </div>
  </div>

  <div class="new-message__content">
    <!-- Empty state or recipient list will go here -->
    <!-- Hier wird eine leere Status- oder Empfängerliste eingefügt. -->
    <div class="new-message__empty">
      <p>Search for users or channels to start a conversation</p>
    </div>
  </div>

  <div class="new-message__footer">
    <app-message-box (messageSent)="onMessageSent($event)" />
  </div>
</div>
