@use '../../../../../styles/mixins' as mix;

.popup-signup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--space-2);

  &__text {
    @include mix.body;
    color: var(--text-secondary);
  }
}
