<div class="imprint">
  <div class="imprint__container">
    <header class="imprint__header">
      <h1 class="imprint__title">{{ 'LEGAL.IMPRINT' | t }}</h1>
      <p class="imprint__subtitle">{{ 'LEGAL.TITLE' | t }}</p>
    </header>

    <section class="imprint__content">
      <h2>{{ 'LEGAL.RESPONSIBLE' | t }}</h2>
      <p>
        {{ 'LEGAL.COMPANY_NAME' | t }}<br />
        {{ 'LEGAL.SOLE_PROPRIETOR' | t }}: Konstantin Aksenov<br />
        {{ 'LEGAL.LOCATION' | t }}
      </p>

      <h2>{{ 'LEGAL.CONTACT' | t }}</h2>
      <p>
        <span>{{ 'LEGAL.EMAIL' | t }}:</span>
        <a href="mailto:konstantin@dev2ksoftware.com">konstantin@dev2ksoftware.com</a><br />
        <span>{{ 'LEGAL.WEBSITE' | t }}:</span>
        <a href="https://dabubble.dev2ksoftware.com/">https://dabubble.dev2ksoftware.com/</a>
      </p>

      <h2>{{ 'LEGAL.TECHNICAL_INFO' | t }}</h2>
      <p>
        {{ 'LEGAL.TECHNICAL_DESC' | t }}
      </p>

      <h2>{{ 'LEGAL.DISCLAIMER' | t }}</h2>
      <h3>{{ 'LEGAL.LIABILITY_CONTENT' | t }}</h3>
      <p>
        {{ 'LEGAL.LIABILITY_CONTENT_TEXT' | t }}
      </p>

      <h3>{{ 'LEGAL.LIABILITY_LINKS' | t }}</h3>
      <p>
        {{ 'LEGAL.LIABILITY_LINKS_TEXT' | t }}
      </p>
    </section>

    <footer class="imprint__footer">
      <app-secondary-button label="{{ 'COMMON.BACK' | t }}" (clicked)="goBack()" />
    </footer>
  </div>
</div>
